<%= link_to "&laquo; Back to Event".html_safe, batch.event %>
<h1><%= batch.event.name %></h1>
<h2>Batch scraped at <%= l batch.scraped_at, format: :detail %></h2>

<table>
  <thead>
    <tr>
      <th>Section</th>
      <th>Row</th>
      <th>Quantity</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% batch.ordered_ticket_prices.each do |ticket_price| %>
      <tr>
        <td><%= ticket_price.section %></td>
        <td><%= ticket_price.row %></td>
        <td><%= ticket_price.quantity %></td>
        <td><%= ticket_price.price.format %></td>
      </tr>
    <% end %>
  </tbody>
</table>
